*{
  padding: 0;
  margin: 0;

}
.App {
  /* font-size: 1.3rem; */
  text-align: center;
  min-height:100vh;
  width:100%;
  background:powderblue;
  position:relative;
}


.App::before{
  content: "";
  width:50%;
  height:50vh;
  position:absolute;
  top: 50%;
  left: 0;
  background:rebeccapurple;
  clip-path: circle(34%);
}
